body {
    background: slategray;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: darkslateblue;
    text-align: center;
}
.about {
    color: darkslategray;
}
.skills {
    color: darkslategray;
}
.project {
    color: darkslategray;
}
.contact {
    color: darkslategray;
}