.about, .skills, .projects, .contact {
    margin-bottom: 40px;
}
body {
    background: slategray;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 40px;
    line-height: 1.6;
    max-width: 1000px;
    margin: auto;
}
h2 {
    color: navy;
    border-bottom: 2px solid navy;
    padding-bottom: 5px;
    width: fit-content;
    margin-top: 40px;
}
h1 {
    color: navy;
    text-align: center;
}
.about {
    color: navy;
}
.skills {
    color: navy;
}
.projects {
    color: navy;
}
.contact {
    color: navy;
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}
.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(247, 231, 91);
display: block;
margin: auto;
}
a { /* change the appearance of ALL links */
text-decoration: underline;
color: purple;
}
.project p { /* change the appearance of paragraph tags inside .project divs */
text-align: center;
margin: 15px;
}
a {
    color: navy;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: rgb(247, 231, 91);
}